body{text-align:center;font-family:sans-serif;margin-top:40px;}
.btn-box{display:flex;gap:20px;justify-content:center;}

button{padding:10px 20px;border-radius:5px;cursor:pointer;transition:0.3s;}
.primary{background:blue;color:white;}
.secondary{background:gray;color:white;}
.outline{border:2px solid blue;border-radius:5px;background:none;}
.disabled{opacity:0.4;cursor:not-allowed;}

button:hover{transform:scale(1.05);}
button:active{transform:scale(0.9);}
button:focus{outline:2px solid red;}
