.card-container{
    display:flex;
    gap:20px;
    padding:30px;
}
.card{
    flex:1;
    padding:40px;
    text-align:center;
    background:#e7e7e7;
    transition:.4s;
}
.card:hover{background:#bdbcbc}

/* Tablet */
@media(max-width:900px){
    .card-container{flex-wrap:wrap;}
    .card{flex-basis:48%;}
}

/* Mobile */
@media(max-width:600px){
    .card{flex-basis:100%;}
}
