body{background:linear-gradient(#d9e,#aef);display:flex;height:100vh;justify-content:center;align-items:center;}

.card{
    background:white;padding:20px;border-radius:10px;box-shadow:0 0 10px #333;
    display:flex;gap:15px;flex-direction:column;width:300px;text-align:center;
}

input,select,button{padding:10px;border-radius:5px;border:1px solid #333;}
input:focus,select:focus,button:hover{outline:2px solid blue;}
