/* HEADER FLEX */
header{
    display:flex;
    justify-content:space-between;
    padding:15px 25px;
    background:#222;color:#fff;
}
nav a{color:#fff;margin-left:15px;text-decoration:none;font-weight:bold}

/* FEATURES */
.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}
.box{
    background:#ececec;
    padding:30px;
    width:30%;
    text-align:center;
    transition:.4s;
    border-radius:10px;
}
.box:hover{transform:scale(1.05);background:#ddd}

/* Responsive Below 750px */
@media(max-width:750px){
    .features{flex-direction:column;}
    .box{width:100%;}
}

footer{text-align:center;padding:15px;background:#111;color:white;}
